*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   /* background-image: url("yell.jpeg");
   background-size: cover;
   background-position: center; */
   font-family: Arial;
}
.nav{
    background-color:white;
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
    background-image: url("jamiaur.jpg");
    display: flex;
    justify-content: right;
    color: green;
    font-size: 40px;
}
.nav p{
 margin-right: 120px;
  padding-top: 15px;
}
#jmi2{

    /* background-image: url("jmiamara.png"); */
    background-repeat: no-repeat;
    justify-content: right;
    padding: 10px;
}
.menu-bar{
    background-color:rgb(17, 170, 17);
    text-align: center;

}
.menu-bar ul{
     display:inline-flex;
     list-style: none;
     color: green;
}
.menu-bar ul li{
     width: 120px;
     margin: 15px;
     padding: 15px;
    
     
}
.menu-bar ul li a{
    text-decoration: none;
    color:rgb(224, 224, 116);
}
.active, .menu-bar ul li:hover
{
  background-color:yellow;
  border-radius: 3px;
}
.menu-bar .fa{
    margin-right: 8px;
}
.sub-menu1 {
    display: none;
}
.menu-bar ul li:hover .sub-menu1{
    display: block;
    position:absolute;
    background-color: rgb(6, 48, 6);
    margin-top: 15px;
    margin-left: -15px;

}
.menu-bar ul li:hover .sub-menu1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background-color: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu1 ul li a:hover{
    color: maroon;
}
.fa-angel-right{

    float :right;

}
.sub-menu-2{
    display: none;
}
.hover-me:hover .sub-menu-2
{
    position:absolute;
    display:block;
    margin-top:-40px;
    margin-left:140px;
    background:orange;

}
.sub-menu-3{
    display: none;
}
.hover-u:hover .sub-menu-3
{
    position:absolute;
    display:block;
    margin-top:-40px;
    margin-left:140px;
    background:purple;

}
.banner{
    width:100%;
    height: 200px;
    background-image: url("nazma.jpg");
   background-size: cover;
   background-position: center;

}
.mes{
    display: flex;
    

}
.mes1{
    height: 250px;
    width:700px;

}
.mes1 h3{
  padding:10px ;
  color:green;
}
.mes p{
    font-size: 15px;
    letter-spacing: 3px;
    

}
.mes2 h3{
    padding:10px;
    color:green;
}
.mes2{
    height: 250px;
    width:700px;
    
}
.footer{
    width:100%;
    height: 50px;
    background-color:black;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;

}
.foo1{
    margin-left: 160px;
    padding: 10px;
    border-radius: 20px;
    background-color: yellow;
    width:300px;
}
.foo2{
    padding: 10px;
    border-radius: 20px;
    width:300px;
}
button{
    width:80px;
    padding: 10px;
    background-color: yellow;

    border-radius: 20px;
    
}
button:hover{
    background-color:pink;
    color:green;
    border-radius: 20px;
}

    
