*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   /* background-image: url("yell.jpeg");
   background-size: cover;
   background-position: center; */
   font-family: Arial;
}
.nav{
    background-color:white;
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
    background-image: url("jamiaur.jpg");
    display: flex;
    justify-content: right;
    color: green;
    font-size: 40px;
}
.nav p{
 margin-right: 120px;
  padding-top: 15px;
}
#jmi2{

    /* background-image: url("jmiamara.png"); */
    background-repeat: no-repeat;
    justify-content: right;
    padding: 10px;
}
.menu-bar{
    background-color:rgb(17, 170, 17);
    text-align: center;

}
.menu-bar ul{
     display:inline-flex;
     list-style: none;
     color: green;
}
.menu-bar ul li{
     width: 120px;
     margin: 15px;
     padding: 15px;
    
     
}
.menu-bar ul li a{
    text-decoration: none;
    color:rgb(224, 224, 116);
}
.active, .menu-bar ul li:hover
{
  background-color:yellow;
  border-radius: 3px;
}
.menu-bar .fa{
    margin-right: 8px;
}
.sub-menu1 {
    display: none;
}
.menu-bar ul li:hover .sub-menu1{
    display: block;
    position:absolute;
    background-color: rgb(6, 48, 6);
    margin-top: 15px;
    margin-left: -15px;

}
.menu-bar ul li:hover .sub-menu1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background-color: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu1 ul li a:hover{
    color: maroon;
}
.fa-angel-right{

    float :right;

}
.sub-menu-2{
    display: none;
}
.hover-me:hover .sub-menu-2
{
    position:absolute;
    display:block;
    margin-top:-40px;
    margin-left:140px;
    background:orange;

}
.sub-menu-3{
    display: none;
}
.hover-u:hover .sub-menu-3
{
    position:absolute;
    display:block;
    margin-top:-40px;
    margin-left:140px;
    background:purple;

}
.ml{
    
    height:500px;
    width:550px;
    border:1px solid black;
    background-color: white;
    display: inline-block;
    margin:50px ;
    text-align: center;
    padding: 40px;
    
    
}
.ml p{
    font-size:20px;
    text-align: left-right;
}
.ml h2{
    color: blue;
}
.mr{
    
    height: 500px;
    width:550px;
    background-color: white;
    border:1px solid black;
    display: inline-block;
    text-align: center;
    margin:50px ;
    padding: 40px;
   
}
.mr h2{
    color: blue;
}
.mr p{
    font-size:20px;
    text-align: left-right;
}
.mlr{
    background-color:rgb(126, 187, 126);
    display: flex;
    justify-content: space-evenly;
    
}
.obj{
    padding:10px;
    color: blue;
}
.pr{
    padding:10px;
    font-size:20px;
}